body {
  font-size: 22px;
     
}
h1, h2 {
    color: blue;
}

p{
    color: purple!important;
}

.highlight {

    text-transform: uppercase;
    background-color: gold;

}

.gray {
    color: gray;
}

#second {
    font-style: italic;
}
